.colorNav{
    background-color: #8BCDCD;
}

.margenSuperior{
    background-color: #3797A4;
    padding: 10px;
}

body{
    background-image: linear-gradient(to bottom, #8bcdcd, #8dd5c5, #99dcb8, #b0e1a7, #cee397);
}

.cardFooterColor{
    background-color: #5f27cd;
    color: white;
}