* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    max-width: 1440px;
    margin: 0 auto;
    font-family: "Nunito Sans", sans-serif;
    scroll-behavior: smooth;
}
header{
    background-color: #F6FDC3;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
}
.logoidw {
    width: 140px;
}
.contenedorNav {
    justify-items: space-between;
    font-size: 1.15rem;
    color: #272727;
}
.navBar {
    display: flex;
}
.navBar a {
    text-decoration: none;
}
.nav {
    list-style-type: none;
    margin: 0 20px;
}
a {
    color: #272727;
    font-family: "Nunito Sans", sans-serif;
    font-size: 0.90rem;
}
a:hover {
    color: #FF8080;
    font-weight: 700;
}
.hero {
    background-color: #F6FDC3;
    padding-top: 40px;  
    display: grid;
    justify-content: center;
    padding-bottom: 20px;
}
.contenedorBusqueda {
    height: 62px;
    width: 1100px;
    display: flex;
    line-height: 60px;
    text-align: center;
    background-color: #CDFADB;
    padding: 0 10px;
    border-radius: 10px;
}
.contbusqueda, .contcalendario, .contpersonas, .contbuscar {
    height: 60px;
    color: #272727;
    font-size: 1rem;
}
.destino {
    background-color: #FFCF96;
    height: 50px;
    width: 280px;
    margin-right: 20px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 8px;
}
.destino p {
    color: #27272770;
}
.calendario {
    background-color: #FFCF96;
    height: 50px;
    width: 300px;
    margin-right: 20px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 8px;
}
.calendario p {
    color: #27272770;
}
.personas {
    background-color: #FFCF96;
    height: 50px;
    width: 280px;
    margin-right: 20px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 8px;
}
.personas p {
    color: #27272770;
}
.buscar {
    background-color: #FF8080;
    height: 50px;
    width: 160px;
    display: inline-block;
    vertical-align: middle; 
    border-radius: 8px;  
}
.buscar p {
    color: #27272770;
}
.tendencia {
    background-color: #F6FDC3; 
    padding: 0 40px;
}
.destinoTendencia{
    padding-top: 30px;
    color: #272727;
}
.containerTendencia {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 250px;
    grid-gap: 20px;
    padding: 60px 0;
    position: relative;
}
.box {
    position: relative;
}
.box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.box:nth-child(1) {
    grid-column-start: span 2;
}
.box:nth-child(4) {
    grid-column-start: span 2;
}
.description {
    position: absolute;
    width: 150px;
    top: 0;
    padding: 10px;
    left: 96%;
    transform: translateX(-90%);
    color: #d9d9d9;
    font-size: 0.75rem;
    background-color: rgba(0, 0, 0, 0.5);
}
.description p {
    width: 100%;
}
.description i {
    font-size: 10px;
}
.content {
    position: relative;
    display: flex;
    background-color: #F6FDC3;
}
.content-left {
    height: 100%;
    width: 40%;
    padding: 80px 20px;
}
.content-left h1 {
    color: #272727;
    margin-bottom: 25px;
}
.content-left p {
    font-size: 20px;
    color: #272727;
    width: 80%;
    margin-bottom: 30px;
}
.flechas{
    display: flex;
    font-size: 50px;
    justify-content: right;
    cursor: pointer;
}
.content-right {
    height: 100%;
    width: 60%;
    padding: 110px 100px;
    white-space: nowrap;
    overflow-x: auto;
} 
.content-right::-webkit-scrollbar{
    display: none;
}
.descriptionCaribe {
    position: absolute;
    width: 150px;
    padding: 10px;
    top: 0;
    left: 96%;
    transform: translateX(-90%);
    color: #d9d9d9;
    font-size: 0.75rem;
    background-color: rgba(0, 0, 0, 0.5);
}
.descriptionCaribe p {
    width: 100%;
}
.descriptionCaribe i {
    font-size: 10px;
}
.app {
    background-color: #FFCF96;
    padding: 100px;
}
.app, .img {
    display: flex;
}
.app,  h3 {
    font-size: 3.5rem;
    font-family: "Nunito Sans", sans-serif;
    color: #272727;
    padding: 60px;
}
.app, .bajate p {
    color: #272727;
    font-size: 1.3rem;
    font-family: "Nunito Sans", sans-serif;
    text-align: center;
    padding-bottom: 100px;
}
.app, .bajate button {
    font-size: 2.5rem;
    font-family: "Nunito Sans", sans-serif;
    color: #d9d9d9;
    margin: 10px 30px;
}
button {
    background-color: #272727;
    border: none;
    border-radius: 6px;
    padding: 10px 10px;
}
.product {
    height: auto;
    width: 500px;
    position: relative;
    display: inline-block;
    margin-right: 20px;
}
.product img {
    width: 100%;
    object-fit: cover;
    box-shadow: 0 5px 10px rgba(17, 0, 17, 0.3);
}
/*
.mejorMes {
    background-color: #F6FDC3;
    color: #272727;
    font-family: "Nunito Sans", sans-serif;
    max-width: 1440px;
    text-align: center;
    display: flex;
}
.fotoPrincipal {
    background-color:#F6FDC3;
    text-align: center;
}
.fotoLondres  {
    width: 1240px;
    border-radius: 20px;
}
.meses {
    background-color: #89B9AD;
    height: 600px;
    width: 900px;
    margin-left: 150px;
    
} 
.ciudades {
    margin-top: 30px;
    display: flex;
}
.menuCiudades {
    display: flex;
    font-family: "Nunito Sans", sans-serif;
}
.ciudad {
       margin-right: 40px;
       list-style: none;
       border: 1px solid #272727;
       padding: 6px 18px; 
       border-radius: 6px;
       cursor: pointer;
}
.todosMeses {
    flex-direction: row;
    margin-top: 100px;
}
.izquierda {
    color: #272727;
    display: flex;
    font-family: "Nunito Sans", sans-serif;
    margin-right: 150px;
}
.contmeses {
    display: flex;
    font-family: "Nunito Sans", sans-serif;
}
.mes {
    margin-right: 40px;
    list-style-type: none;
    border: 1px solid #272727;
    padding: 6px auto; 
    border-radius: 6px;
    cursor: pointer;
}
.derecha {
    display: flex;
}
*/
.mejorAloja {
    background-color: #F6FDC3;
    padding: 40px 40px;

}
.contenedor-carrusel {
    width: 1440px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 30px;
}
.lista-imagenes {
    display: flex;
    scroll-snap-destination: inline-block;
    padding: 0;
    list-style: none;
}
.lista-imagenes li  {
    flex-shrink: 0;
    margin: 0 10px;
}
.lista-imagenes li  p {
    font-size: 1.5rem;
    color: #272727;
    font-family: "Nunito Sans", sans-serif;
    text-align: center;
}
.lista-imagenes img {
    width: 280px;
    height: auto;
    border-radius: 6px;
}
.acercade {
    background-color: #FFCF96;
    padding: 60px;
    height: auto;
    text-align: right;
}
.acercade h1 {
    padding-bottom: 40px;
}
.acerca {
    font-family: "Nunito Sans", sans-serif;
    color: #272727;
}
.p-container {
    padding-top: 20px;
    width: 600px;
}
.acercade p {
    color: #272727;
    font-size: 1.55rem;
    text-align: right;
}
.contactate {
    background-color:#F6FDC3;
    padding: 60px;
}
.containerContacto {
    height: auto;
    display: flex;
    padding: 30px;
}
.izqcontacto {
    width: 50%;
}
form {
    display: flex;
    flex-direction: column;
}
label {
    margin-bottom: 5px;
    display: block;
}
input, textarea {
    width: 90%;
    padding: 8px;
    border: 1px solid #27272780;
    border-radius: 5px;
    margin-bottom: 15px;
    color: #272727;
    background-color:#F6FDC3;
}
textarea {
    height: 100px;
}
.botonContacto {
    background-color:#F6FDC3;
    color: #272727;
    border: 1px solid #27272780;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 90%;
    font-size: 1rem;
}
.dercontacto {
    width: 50%;
    position: relative;
}
.dercontacto img {
    position: absolute;
}
.dercontacto, .check {
    padding: 0 60px;
}
.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    background-color: #CDFADB;
    height: 400px;
    font-family: "Nunito Sans", sans-serif;
}
.izq img {
    width: 200px;
    margin-bottom: -50px;
}
.izq p {
    align-items: center;
    display: flex;
    justify-content: center;
}
.centro i {
    font-size: 40px;
    padding: 0 10px;
    color: #272727;
}
.der {
    font-family: "Nunito Sans", sans-serif;
    text-align: right;
    text-shadow: 1rem;
}
#ayuda {
    color: #272727;
    font-size: 1.75rem;
    font-weight: 600;
    padding: 10px;
}
